body
{
bacground-color":black;
}
h1 { color:white;text-align:center;font-size:60px;}
h2 { color:blue;font-size:50px;text-shadow:5px 5px 5px gray;}
p
{
color:white;
text-align:justify;
font-size:40px;
border:5px solid green;
padding: 15px;
box-shadow:5px 5px 5px gray;
}